/* Main variables */
$background-color: #edf1f7;
$border-color: #edf1f7;
$color: #222b45;

$background-color-hover: #f7f9fc;
$color-hover: #f7f9fc;

$background-color-focus: #e4e9f2;
$border-color-focus: #c5cee0;





$main-color: black;
$file-hover: black;


/* Overridden variables */
$navbar-light-hover-color: #1FC2A4;

/* Toast variables */
$warning: #fdc53d;