<div class="home-container">
    <div>
        <div class="video-wrapper">
            <video src="../../../assets/videos/background video 1080p.mp4" playinline autoplay loop poster [muted]="'muted'"></video>

            <div class="jumbotron">
                <div style="background-color: transparent;" class="container text-center">
                    <h1>Welcome to portfol.io</h1>
                    <p>Share you art with others.</p>
                </div>
            </div>

            
        </div>

        <div class="ms-2">
            <h2 class="my-0" id="thin-text">Check out some of user's work</h2>
        </div>

    </div>

    <div class="filter-container p-2">

        <input class="form-control" type="text" id="search" name="search" (keyup)="onSearch($event)"
            placeholder="Search:">

        <div class="sort-container">
            <div class="sort-max-width-container">
                <div ngbDropdown container="body">
                    <button ngbDropdownToggle class="dropdown-trigger btn btn-outline-secondary dropdown-toggle btn-sm"
                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ SortDropdownLabel }}
                    </button>

                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <button ngbDropdownItem
                            (click)="SortDropdownLabel = 'Date created'; this.sortProperty = 'DateCreated'; this.sortOrder = 'desc';"
                            id="sort-Default" class="dropdown-item">Date created</button>
                        <button ngbDropdownItem
                            (click)="SortDropdownLabel = 'Name'; this.sortProperty = 'Name'; this.sortOrder = 'asc';"
                            id="sort-NameAtoZ" class="dropdown-item">Name</button>
                        <button ngbDropdownItem
                            (click)="SortDropdownLabel = 'Likes'; this.sortProperty = 'Likes'; this.sortOrder = 'desc';"
                            id="sort-NameAtoZ" class="dropdown-item">Likes</button>
                    </div>
                </div>

                <div [ngClass]="{'desc-active': sortOrder === 'desc'}"
                    class="btn btn-outline-secondary btn-sm sort-order-toggle-button" (click)="toggleSortOrder()">
                    <fa-icon class="sort-icon" [icon]="upIcon"></fa-icon>
                </div>

            </div>

        </div>

    </div>

    <div class="project-container p-2">

        <div class="project-card shadow-sm"
            *ngFor="let project of this.homeService.CurrentProjects | filter:['Name', 'Username']:this.searchValue | sortBy:this.sortOrder:this.sortProperty, index as i">

            <a class="image-container" style="cursor: pointer;" (click)="DetailsProject(project.Id)">
                <img [src]="this.uploadService.ThumbnailUrl + project.UploadIds[0]">
            </a>

            <div class="project-info-container">
                <div class="d-flex align-items-center gap-2 justify-content-between">


                    <a style="cursor: pointer;" (click)="DetailsProject(project.Id)">
                        <h2 class="m-0" id="name"> {{ project.Name }} </h2>
                    </a>

                    <a style="cursor: pointer;" (click)="this.router.navigate(['/user', project.Username])">
                        <img class="profile-picture shadow" ngxGravatar [size]="32"
                            [email]="this.userService.CurrentUser?.Email ?? ''" [fallback]="'mp'"
                            [src]="this.userService.GetProfilePictureByUploadId(project.UserProfilePictureId)" />
                        <span id="username">{{ project.Username ?? '' }}</span>
                    </a>
                </div>

                <div class="mt-3">
                    <pre class="concept">{{ project.Concept }}</pre>
                </div>
            </div>

            <div class="project-footer">
                <div class="like-container">

                    <fa-icon (click)="onClickLike(project.Id)" class="like-icon like-icon-active"
                        *ngIf="this.ProjectIsLiked[project.Id]" [icon]="solidHeartIcon"></fa-icon>
                    <fa-icon (click)="onClickLike(project.Id)" class="like-icon"
                        *ngIf="!this.ProjectIsLiked[project.Id]" [icon]="regularHeartIcon"></fa-icon>

                    <!--<button [ngClass]="this.ProjectIsLiked[project.Id] ? 'heart-solid' : 'heart-line'"
                        (click)="onClickLike(project.Id)">{{ this.ProjectIsLiked[project.Id] ? 'Unlike' : 'Like' }}</button>-->

                    <span>{{ this.ProjectDictionary[project.Id]?.Likes ?? '' }}</span>
                </div>

                <div class="date-created">
                    {{ project.DateCreated | date: 'dd.MM.yyyy.' }}
                </div>
            </div>
        </div>

    </div>
</div>