<div class="home-container">
    <div class="filter-container p-2">

        <input class="form-control" type="text" id="search" name="search" (keyup)="onSearch($event)"
            placeholder="Search:">

        <div class="sort-container">
            <div class="sort-max-width-container">
                <div ngbDropdown container="body">
                    <button ngbDropdownToggle class="dropdown-trigger btn btn-outline-secondary dropdown-toggle btn-sm"
                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ SortDropdownLabel }}
                    </button>

                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <button ngbDropdownItem
                            (click)="SortDropdownLabel = 'Date created'; this.sortProperty = 'DateCreated'; this.sortOrder = 'desc';"
                            id="sort-Default" class="dropdown-item">Date created</button>
                        <button ngbDropdownItem
                            (click)="SortDropdownLabel = 'Name'; this.sortProperty = 'Name'; this.sortOrder = 'asc';"
                            id="sort-NameAtoZ" class="dropdown-item">Name</button>
                    </div>
                </div>

                <div [ngClass]="{'asc-active': sortOrder === 'asc'}"
                    class="btn btn-outline-secondary btn-sm sort-order-toggle-button" (click)="toggleSortOrder()">
                    <fa-icon class="sort-icon" [icon]="upIcon"></fa-icon>
                </div>

            </div>

        </div>

    </div>

    <div class="project-container p-2">

        <div class="project-card shadow-sm"
            *ngFor="let project of this.homeService.CurrentProjects | filter:['Name', 'Username']:this.searchValue | sortBy:this.sortOrder:this.sortProperty, index as i">

            <a class="image-container" style="cursor: pointer;" (click)="DetailsProject(project.Id)">
                <img [src]="this.uploadService.ThumbnailUrl + project.UploadIds[0]">
            </a>

            <div class="project-info-container">
                <a style="cursor: pointer;" (click)="DetailsProject(project.Id)">
                    <h1 id="name"> {{ project.Name }} </h1>
                </a>

                <div>
                    <pre class="concept">{{ project.Concept }}</pre>
                </div>
            </div>

            <div class="project-footer">
                <div class="like-container">

                    <fa-icon (click)="onClickLike(project.Id)" class="like-icon like-icon-active"
                        *ngIf="this.ProjectIsLiked[project.Id]" [icon]="solidHeartIcon"></fa-icon>
                    <fa-icon (click)="onClickLike(project.Id)" class="like-icon"
                        *ngIf="!this.ProjectIsLiked[project.Id]" [icon]="regularHeartIcon"></fa-icon>

                    <!--<button [ngClass]="this.ProjectIsLiked[project.Id] ? 'heart-solid' : 'heart-line'"
                        (click)="onClickLike(project.Id)">{{ this.ProjectIsLiked[project.Id] ? 'Unlike' : 'Like' }}</button>-->

                    <span>{{ this.ProjectLikes[project.Id] }}</span>
                </div>

                <div class="date-created">
                    {{ project.DateCreated | date: 'dd.MM.yyyy.' }}
                </div>
            </div>
        </div>

    </div>
</div>