// flex container for project cards that are displayed one next to the other and they always fit the screen width
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: begin;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #f5f5f5;
    gap: 10px;
    
    
}

.project-card {
    border: 2px solid red;

    height: 400px;
}

.sort-order-toggle-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-order-toggle-button .sort-icon {
    width: 15px;
    text-align: center;
    margin: 0 auto;
    display:inline-block;
    line-height: 20px;
    vertical-align: bottom;
    transition: transform 0.2s;
}

.sort-order-toggle-button.asc-active .sort-icon {
    transform: rotate(180deg);
}

.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-container input {
    width: 50%;
    min-width: 200px;
    flex-grow: 9999;
}

.sort-container {
    flex-grow: 1;
    flex-basis: 20em;
    max-width: 165px!important;
}

.sort-container .sort-max-width-container {
    display: block;
    margin: 0!important;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    gap: 10px;

    max-width: 165px!important;
}

.dropdown, .sort-order-toggle-button {
    display: inline-block;
}

.dropdown {
    margin-right: 10px;
}

.dropdown-menu {
    position: absolute;
}
