<nav class="navbar navbar-light bg-light p-3">
    <div class="container-md">

        <a class="navbar-brand" routerLink="">
            <h1 class="mb-0" id="main-title">portfol.io</h1>
        </a>

        <div>
            <ul class="navbar-nav mb-0 mb-lg-0">
                <!--<li class="nav-item page-link">
                        <a routerLinkActive="active" routerLink="/files" (click)="isMenuCollapsed = true" id="link-files" class="nav-link" aria-current="page">Files</a>
                    </li>
                    <li class="nav-item page-link">
                        <a routerLinkActive="active" routerLink="/shared" (click)="isMenuCollapsed = true" id="link-shared" class="nav-link" href="#">Shared</a>
                    </li>
                    <li class="nav-item page-link">
                        <a routerLinkActive="active" routerLink="/pinned" (click)="isMenuCollapsed = true" id="link-pinned" class="nav-link" href="#" tabindex="-1" aria-disabled="true">Pinned</a>
                    </li>
                    <li class="nav-item page-link">
                        <a routerLinkActive="active" routerLink="/trash" (click)="isMenuCollapsed = true" id="link-trash" class="nav-link" href="#" tabindex="-1" aria-disabled="true">Trash</a>
                    </li>
                    <li class="nav-item page-link">
                        <a routerLinkActive="active" routerLink="/newfile" (click)="isMenuCollapsed = true" id="link-newfile" class="nav-link" aria-current="page">New File</a>
                    </li>-->
            </ul>
            <ul class="ms-auto navbar-nav mb-0 mb-lg-0 flex-row">
                <li class="nav-item" *ngIf="userService.GetIsLoggedInObservable() | async">
                    <!--<a class="mb-0 nav-link nav-link-nohover" routerLink="user/{{ (this.userService.User | async)?.Username }}"><fa-icon [icon]="userIcon"></fa-icon> {{ (this.userService.User | async)?.Username }}</a>-->
                    <div ngbDropdown [placement]="'bottom-start'">

                        <a style="cursor: pointer;" ngbDropdownToggle id="userDropdown" class="mb-0 nav-link nav-link-nohover">
                            <img class="profile-picture shadow" ngxGravatar [size]="32"
                                [email]="this.userService.LoggedInUser?.Email ?? ''" [fallback]="'mp'"
                                [src]="this.userService.GetLoggedInUserProfilePictureUrl()" />
                            <span id="username">{{ this.userService.LoggedInUser?.Username ?? '' }}</span>
                        </a>

                        <div class="position-absolute" ngbDropdownMenu="userDropdown">
                            <a ngbDropdownItem routerLink="user/{{ this.userService.LoggedInUser?.Username ?? '' }}">Profile</a>
                            <a ngbDropdownItem routerLink="account">Account</a>
                            <div class="dropdown-divider"></div>
                            <a id="logout" class="ms-3 mb-0 nav-link nav-link" (click)="this.authService.LogOut()"><fa-icon
                                    [icon]="signoutIcon"></fa-icon> Log out</a>
                        </div>

                    </div>
                </li>
                <!--<li class="nav-item" *ngIf="userService.GetIsLoggedInObservable() | async">
                        <a class="mb-0 nav-link nav-link" (click)="this.userService.LogOut()"><fa-icon
                                [icon]="signoutIcon"></fa-icon> Log out</a>
                    </li>-->



                <li class="nav-item page-link" *ngIf="!(userService.GetIsLoggedInObservable() | async)">
                    <a routerLinkActive="active" routerLink="/login" (click)="isMenuCollapsed = true" id="link-signin"
                        class="mb-0 nav-link">Log in</a>
                </li>
                <li class="nav-item page-link ms-3" *ngIf="!(userService.GetIsLoggedInObservable() | async)">
                    <a routerLinkActive="active" routerLink="/register" (click)="isMenuCollapsed = true" id="link-signup"
                        class="mb-0 nav-link">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>