<div *ngIf="this.userService.GetIsLoggedInObservable() | async">

    <div class="navbar p-3">
        <div class="container-md">

            <h2 class="d-inline" id="page-title">Create a new project</h2>
            <button class="btn btn-primary" type="submit" form="form" [disabled]="!this.form.valid">Create</button>

        </div>
    </div>

    <hr class="m-0">

    <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="container-md mt-3">

        <div>
            <div class="form-group">
                <label for="projectName">Name:</label>
                <input class="form-control" type="text" id="projectName" formControlName="projectName">
            </div>


            <div *ngIf="projectName.invalid && (projectName.touched || this.formSubmitted)">
                <p class="text-danger" *ngIf="projectName.errors?.['required']">Name is required</p>
                <p class="text-danger" *ngIf="projectName.errors?.['minlength']">Name must be at least 3 characters long</p>
            </div>


            <div class="form-group">
                <label for="projectConcept">Concept:</label>
                <textarea class="form-control" id="projectConcept" formControlName="projectConcept" rows="5"></textarea>
            </div>


            <!--<div *ngIf="projectConcept.invalid && projectConcept.touched">
                <p class="text-danger" *ngIf="projectConcept.errors?.['pattern']">Concept must contain only alphanumeric characters and
                    spaces</p>
            </div>-->

            <div class="form-group my-3">
                <label for="projectMaterial">Material:</label>
                <input class="form-control" type="text" id="projectMaterial" formControlName="projectMaterial">
            </div>

            <div class="form-group my-3">
                <label for="projectDimensions">Dimensions:</label>

                <div class="d-sm-flex" id="projectDimensions" style="gap: 10px;">
                    <input type="text" class="form-control mb-1" placeholder="Width" id="projectWidth" formControlName="projectWidth">
                    <input type="text" class="form-control mb-1" placeholder="Height" id="projectHeight" formControlName="projectHeight">
                    <input type="text" class="form-control mb-1" placeholder="Depth" id="projectDepth" formControlName="projectDepth">
                </div>
            </div>

            

        </div>



        <ngx-dropzone [ngClass]="this.filesEmpty ? 'border-danger' : ''" (change)="onSelect($event)" class="my-3" [accept]="'image/*'">

            <ngx-dropzone-label>Drop your art here.</ngx-dropzone-label>

            <div *ngFor="let f of files">
                <div *ngIf="f.type.startsWith('image/')">
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                        (removed)="onRemove(f)">
                        <ngx-dropzone-label style="color: white;">{{ f.name }}</ngx-dropzone-label>

                    </ngx-dropzone-image-preview>
                    <progress max="100" [value]="uploadProgresses[f.name] || 0"
                        [style.width.%]="uploadProgresses[f.name] || 0"></progress>
                </div>
            </div>

            <div *ngFor="let f of files">
                <div *ngIf="f.type.startsWith('video/')">
                    <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                        (removed)="onRemove(f)">
                        <ngx-dropzone-label style="color: white;">{{ f.name }}</ngx-dropzone-label>

                    </ngx-dropzone-video-preview>
                    <progress max="100" [value]="uploadProgresses[f.name] || 0"
                        [style.width.%]="uploadProgresses[f.name] || 0"></progress>
                </div>
            </div>

        </ngx-dropzone>

        <p class="text-danger" *ngIf="this.filesEmpty">Upload at least one image.</p>

        

    </form>
</div>