@import "../../../../variables.scss";

progress {
    width: 100%;
    margin: 0 10px;
}

.drop-zone {
    border: dashed 2px #ccc;
    padding: 20px;
}

input[type="file"] {
    display: none;
}

input[type="file"] + label {
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
}

button {
    margin-left: 10px;
}




ngb-progressbar {
    opacity: 0;
}

::ng-deep .progress-bar {
    background-color: $main-color !important;
}

#page-title {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top: 5px;
}

#submitButton {
    background-color: $main-color;
    border: 1px solid $main-color;
    color: black;
}

.border-danger {
    border-color: red;
}

