<div *ngIf="this.userService.GetLoggedIn() | async">

    <div class="navbar navbar-expand-sm p-3">
        <div class="container-md">

            <h2 class="d-inline" id="page-title">Create a <b>new project</b></h2>

        </div>
    </div>

    <hr class="m-0">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div>
            <label for="projectName">Name:</label>
            <input type="text" id="projectName" formControlName="projectName">

            <div *ngIf="projectName.invalid && projectName.touched">
                <p *ngIf="projectName.errors?.['required']">Name is required</p>
                <p *ngIf="projectName.errors?.['minLength']">Name must be at least 3 characters long</p>
            </div>
        </div>


        <div>
            <label for="projectConcept">Concept:</label>
            <input type="text" id="projectConcept" formControlName="projectConcept">

            <div *ngIf="projectConcept.invalid && projectConcept.touched">
                <p *ngIf="projectConcept.errors?.['pattern']">Concept must contain only alphanumeric characters and
                    spaces</p>
            </div>
        </div>



        <ngx-dropzone (change)="onSelect($event)">

            <ngx-dropzone-label>Drop your art here.</ngx-dropzone-label>

            <div *ngFor="let f of files">
                <div *ngIf="f.type.startsWith('image/')">
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                        (removed)="onRemove(f)">
                        <ngx-dropzone-label style="color: white;">{{ f.name }}</ngx-dropzone-label>
                        
                    </ngx-dropzone-image-preview>
                    <progress max="100" [value]="uploadProgresses[f.name] || 0"
                            [style.width.%]="uploadProgresses[f.name] || 0"></progress>
                </div>
            </div>

            <div *ngFor="let f of files">
                <div *ngIf="f.type.startsWith('video/')">
                    <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                        (removed)="onRemove(f)">
                        <ngx-dropzone-label style="color: white;">{{ f.name }}</ngx-dropzone-label>
                        
                    </ngx-dropzone-video-preview>
                    <progress max="100" [value]="uploadProgresses[f.name] || 0"
                            [style.width.%]="uploadProgresses[f.name] || 0"></progress>
                </div>
            </div>

        </ngx-dropzone>

        <button type="submit">Submit</button>

    </form>
</div>