<div class="main-container container-md pt-3">

    <div class="profile-container">

        <div class="d-inline-block profile-image-container">
            <button class="delete-button btn btn-sm btn-outline-danger shadow" *ngIf="this.userService.getIsEditing()"
                (click)="ClearProfilePicture()"><fa-icon [icon]="xIcon"></fa-icon></button>

            <img class="profile-picture shadow" ngxGravatar [size]="256"
                [email]="this.userService.CurrentUser?.Email ?? ''" [fallback]="'mp'"
                [src]="this.profilePicture" />

            <button class="change-button btn btn-sm btn-secondary shadow" *ngIf="this.userService.getIsEditing()"
                (click)="openFilePicker()"><fa-icon [icon]="changeIcon"></fa-icon> Change</button>
            <input type="file" hidden #fileInput (change)="onFileSelected($event)">
        </div>


        <div class="profile-info-container">

            <h1>{{ this.userService.CurrentUser?.Username ?? "" }}</h1>

            <div *ngIf="!this.userService.getIsEditing()">

                <h4 class="full-name">{{ this.userService.CurrentUser?.FullName ?? "" }}</h4>
                <pre class="bio">{{ this.userService.CurrentUser?.Bio ?? "" }}</pre>
                <button class="btn btn-secondary w-100 shadow"
                    *ngIf="this.userService.CurrentUser.Username === (this.userService.LoggedInUser?.Username ?? '')"
                    (click)="Edit()"><fa-icon [icon]="editIcon"></fa-icon> Edit profile</button>

            </div>


            <div *ngIf="this.userService.getIsEditing()">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div>
                        <label for="fullName">Full name:</label>
                        <input class="form-control" type="text" id="fullName" formControlName="fullName">

                        <div *ngIf="fullName.invalid && fullName.touched">
                            <p class="text-danger" *ngIf="fullName.errors?.['minlength']">Full Name must be at least 3 characters long</p>
                        </div>
                    </div>

                    <div>
                        <label for="bio">Bio:</label>
                        <textarea class="form-control" id="bio" formControlName="bio"></textarea>

                        <div *ngIf="bio.invalid && bio.touched">
                        </div>
                    </div>

                    <button class="btn btn-sm btn-outline-danger my-1 me-1 shadow" type="button" (click)="CancelEditing()"><fa-icon [icon]="cancelIcon"></fa-icon> Cancel</button>
                    <button class="btn btn-sm btn-outline-primary my-1 shadow" type="submit"><fa-icon [icon]="saveIcon"></fa-icon> Save</button>

                </form>
            </div>

        </div>

        
    </div>



















    <div class="projects-container">


        <div class="navbar py-3">
            <div class="container-md m-0 p-0">

                <h2 *ngIf="this.userService.CurrentUser.Username === (this.userService.LoggedInUser?.Username ?? ''); else notOwnProfile"
                    class="m-0 d-inline" id="page-title">Your projects</h2>
                <ng-template #notOwnProfile>
                    <h2 class="m-0 d-inline" id="page-title">{{ this.userService.CurrentUser.Username }}'s projects</h2>
                </ng-template>

                <div *ngIf="this.userService.GetIsLoggedInObservable() | async">
                    <button
                        *ngIf="this.userService.CurrentUser.Username === (this.userService.LoggedInUser?.Username ?? '')"
                        routerLink="/project/new" id="createProjectButton" class="btn btn-primary my-2 shadow"><fa-icon [icon]="newIcon"></fa-icon> New</button>
                    <!--<div *ifRoles="['Artist']">
                <button routerLink="/project/new" id="createProjectButton" class="btn btn-primary my-2">New</button>
            </div>-->
                </div>

            </div>
        </div>

        <app-projects></app-projects>

        <div *ngIf="this.userService.GetIsLoggedInObservable() | async" class="container-sm mb-2">
            <div id="upper-files-container" class="d-flex flex-wrap justify-content-between mb-2">

                <!--<ng-content select="#page-title"></ng-content>-->
                <!--<h2 class="d-inline m-1" id="page-title" [innerHTML]="PageTitles[CurrentPage!]"></h2>-->
                <!--<h2 class="d-inline m-1" id="page-title">Your <b>art</b></h2>-->

                <!--<div class="d-inline-flex justify-content-start align-items-center">
            <p class="m-1">Sort by</p>
            <div ngbDropdown id="dropdown-container" class="dropdown m-1">
                <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ SortDropdownLabel }}
            </button>

                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button ngbDropdownItem (click)="Action = 'sort_default'; SortDropdownLabel = 'Default'; this._sortOrder = SortOrder.Default; this.SortFiles();" id="sort-Default" class="dropdown-item">Default</button>
                    <button ngbDropdownItem (click)="Action = 'sort_nameatoz'; SortDropdownLabel = 'Name (A-Z)'; this._sortOrder = SortOrder.NameAToZ; this.SortFiles();" id="sort-NameAtoZ" class="dropdown-item">Name (A-Z)</button>
                    <button ngbDropdownItem (click)="Action = 'sort_nameztoa'; SortDropdownLabel = 'Name (Z-A)'; this._sortOrder = SortOrder.NameZToA; this.SortFiles();" id="sort-NameZtoA" class="dropdown-item">Name (Z-A)</button>
                </div>
            </div>
        </div>-->

            </div>

            <!--<hr>

    <div animateAfterAppear="fadeIn" id="file-container" class="files-container d-flex justify-content-center row gx-5 p-2">
        
        <div *ngFor="let file of this.filesService.Files | async" class="col-sm-6 col-md-6 col-lg-4 p-3">
            <app-portfolioitem [File]="file"></app-portfolioitem>
        </div>
        
    </div>-->
        </div>

    </div>

</div>