<div class="container mt-3 auth-container d-flex align-items-center justify-content-center">

  <div class="auth-center-container shadow p-3 my-5">
    <h2 class="d-inline m-1" class="page-title">Please <b>{{ this._authType }}</b></h2>

    <form class="w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">

        <label for="username">Username</label>
        <div class="input-group">

          <div style="border-radius: 0px!important;" class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="usernameIcon"></fa-icon></span>
          </div>

          <input name="username" type="text" formControlName="username" class="form-control">

          <div class="w-100" *ngIf="this._authType !==AuthType.Login">
            <div *ngIf="username.invalid && username.touched">
              <p class="text-danger" *ngIf="username.errors?.['required']">Username is required</p>
              <p class="text-danger" *ngIf="username.errors?.['minlength']">Username must be at least 3 characters long
              </p>
            </div>
            <p class="text-danger" *ngIf="this.usernameExists">Username is already in use.</p>
          </div>
        </div>


        <div *ngIf="this._authType == AuthType.Register">
          <label class="mt-2" for="email">Email</label>
          <div class="input-group">

            <div class="input-group-prepend">
              <span class="input-group-text"><fa-icon [icon]="emailIcon"></fa-icon></span>
            </div>

            <input name="email" type="email" formControlName="email" class="form-control">

            <div class="w-100" *ngIf="email.invalid && email.touched">
              <p class="text-danger" *ngIf="email.errors?.['required']">Email is required</p>
              <p class="text-danger" *ngIf="email.errors?.['email']">Email invalid</p>
            </div>
            <p class="text-danger w-100" *ngIf="this.emailExists">Email is already in use.</p>
          </div>
        </div>

        <label class="mt-2" for="password">Password</label>
        <div class="input-group">

          <input name="password" [type]="passwordFieldTextType ? 'text' : 'password'" formControlName="password"
            class="form-control">

          <div class="input-group-append">
            <span class="input-group-text" (click)="this.passwordFieldTextType = !this.passwordFieldTextType">
              <fa-icon *ngIf="!passwordFieldTextType" [icon]="hiddenPasswordIcon"></fa-icon>
              <fa-icon *ngIf="passwordFieldTextType" [icon]="visiblePasswordIcon"></fa-icon>
            </span>
          </div>

        </div>


        <div *ngIf="this._authType == AuthType.Register">
          <label class="mt-2" for="confirmPassword">Confirm password</label>
          <div class="input-group">

            <input name="confirmPassword" [type]="confirmPasswordFieldTextType ? 'text' : 'password'"
              formControlName="confirmPassword" class="form-control">

            <div class="input-group-append">
              <span class="input-group-text"
                (click)="this.confirmPasswordFieldTextType = !this.confirmPasswordFieldTextType">
                <fa-icon *ngIf="!confirmPasswordFieldTextType" [icon]="hiddenPasswordIcon"></fa-icon>
                <fa-icon *ngIf="confirmPasswordFieldTextType" [icon]="visiblePasswordIcon"></fa-icon>
              </span>
            </div>

            <div class="w-100" *ngIf="confirmPassword.invalid && email.touched">
              <p class="text-danger" *ngIf="confirmPassword.errors?.['match']">Password and confirm password must match.
              </p>
            </div>

          </div>
        </div>




      </div>

      <button id="submitButton" class="btn btn-primary mt-3" type="submit"
        [disabled]="!this.form.valid && (this._authType !== AuthType.Login)"><fa-icon [icon]="submitIcon"></fa-icon> {{
        this._authType }}</button>
    </form>

  </div>

</div>