@import "../../../variables.scss";

:host {
    position: absolute;
    top: 90px;
    right: 5px;
    z-index: 1200;
    border-radius: 5px;
}

.toast {
    margin: 10px;
    border-radius: 5px;
    color: white;
}

.Success {
    background-color: map-get($theme-colors, "success");
}

.Warning {
    background-color: map-get($theme-colors, "warning");
}

.Error {
    background-color: map-get($theme-colors, "danger");
}

.Info {
    background-color: map-get($theme-colors, "info");
}