<div class="filter-container py-2 px-1">

    <input class="form-control" type="text" id="search" name="search" (keyup)="onSearch($event)" placeholder="Search:">

    <div class="sort-container">
        <div class="sort-max-width-container">
            <div ngbDropdown container="body">
                <button ngbDropdownToggle class="btn btn-outline-secondary dropdown-toggle btn-sm" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ SortDropdownLabel }}
                </button>

                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button ngbDropdownItem
                        (click)="SortDropdownLabel = 'Date created'; this.sortProperty = 'DateCreated'; this.sortOrder = 'desc';"
                        id="sort-Default" class="dropdown-item">Date created</button>
                    <button ngbDropdownItem
                        (click)="SortDropdownLabel = 'Name'; this.sortProperty = 'Name'; this.sortOrder = 'asc';"
                        id="sort-NameAtoZ" class="dropdown-item">Name</button>
                    <button ngbDropdownItem
                        (click)="SortDropdownLabel = 'Likes'; this.sortProperty = 'Likes'; this.sortOrder = 'desc';"
                        id="sort-NameAtoZ" class="dropdown-item">Likes</button>
                </div>
            </div>

            <div [ngClass]="{'desc-active': sortOrder === 'desc'}"
                class="btn btn-outline-secondary btn-sm sort-order-toggle-button" (click)="toggleSortOrder()">
                <fa-icon class="sort-icon" [icon]="upIcon"></fa-icon>
            </div>

        </div>

    </div>

</div>

<div class="p-1">
    <div class="outer-project-container shadow-sm"
        *ngFor="let project of this.projectService.CurrentProjects | filter:['Name']:this.searchValue | sortBy:this.sortOrder:this.sortProperty; index as i">

        <div class="inner-project-container inner-project-container-ltr">

            <a style="cursor: pointer;" (click)="DetailsProject(project.Id)" class="images-container">
                <div *ngIf="project.HighlightedUploadId" class="image-container big-image">
                    <img [src]="this.uploadService.ThumbnailUrl + project.HighlightedUploadId">
                </div>
                <div *ngIf="!project.HighlightedUploadId" class="image-container big-image">
                    <img [src]="this.uploadService.ThumbnailUrl + project.UploadIds[0]">
                </div>
                <div class="image-container small-iamge" *ngFor="let uploadId of getUploadIds(project)">
                    <img [src]="this.uploadService.ThumbnailUrl + uploadId">
                </div>
                <div class="image-placeholder" *ngFor="let index of restArray">

                </div>
            </a>

            <div class="project-info-container project-info-container-ltr">
                <div class="d-flex justify-content-between">
                    <a style="cursor: pointer;" (click)="DetailsProject(project.Id)">
                        <h1 id="name"> {{ project.Name }} </h1>
                    </a>

                    <div *ngIf="this.userService.GetIsLoggedInObservable() | async">
                        <div
                            *ngIf="this.userService.CurrentUser.Username === (this.userService.LoggedInUser?.Username ?? '');">
                            <fa-icon class="edit-icon" (click)="EditProject(project.Id)" [icon]="editIcon"></fa-icon>
                            <fa-icon class="delete-icon" (click)="DeleteProject(project.Id)"
                                [icon]="deleteIcon"></fa-icon>
                        </div>
                    </div>
                </div>

                <div class="project-concept-container project-concept-container-ltr">
                    <pre id="concept">{{ project.Concept }}</pre>
                </div>

            </div>



        </div>

        <div class="project-footer">
            <div class="like-container">

                <fa-icon (click)="onClickLike(project.Id)" class="like-icon like-icon-active"
                    *ngIf="this.ProjectIsLiked[project.Id]" [icon]="solidHeartIcon"></fa-icon>
                <fa-icon (click)="onClickLike(project.Id)" class="like-icon" *ngIf="!this.ProjectIsLiked[project.Id]"
                    [icon]="regularHeartIcon"></fa-icon>

                <span>{{ this.ProjectDictionary[project.Id]?.Likes ?? '' }}</span>
            </div>

            <div class="date-created">
                {{ project.DateCreated | date: 'dd.MM.yyyy.' }}
            </div>
        </div>

    </div>
</div>