<p>project-details works!</p>
<div *ngIf="Project$ | async as Project">

    <div *ngIf="!this.editProjectService.getIsEditing();">
        <div *ngIf="Project$ | async as Project">
            <p>Id: {{ Project.Id }}, Name: {{ Project.Name }}, Concept: {{ Project.Concept }}</p>
            <button (click)="Edit()">Edit</button>
            <button (click)="Delete()">Delete</button>
        </div>
    </div>

    <div *ngIf="this.editProjectService.getIsEditing();">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div>
                <label for="projectName">Name:</label>
                <input type="text" id="projectName" formControlName="projectName">

                <div *ngIf="projectName.invalid && projectName.touched">
                    <p *ngIf="projectName.errors?.['required']">Name is required</p>
                    <p *ngIf="projectName.errors?.['minLength']">Name must be at least 3 characters long</p>
                </div>
            </div>

            <div>
                <label for="projectConcept">Concept:</label>
                <input type="text" id="projectConcept" formControlName="projectConcept">

                <div *ngIf="projectConcept.invalid && projectConcept.touched">
                    <p *ngIf="projectConcept.errors?.['pattern']">Concept must contain only alphanumeric characters and
                        spaces</p>
                </div>
            </div>



            <ngx-dropzone (change)="onSelect($event)">

                <ngx-dropzone-label>Drop your art here.</ngx-dropzone-label>

                <div *ngFor="let f of filesToAdd">
                    <div *ngIf="f.type.startsWith('image/')">
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                            (removed)="onRemove(f)">
                            <ngx-dropzone-label style="color: white;">{{ f.name }}</ngx-dropzone-label>

                        </ngx-dropzone-image-preview>
                        <progress max="100" [value]="uploadProgresses[f.name] || 0"
                            [style.width.%]="uploadProgresses[f.name] || 0"></progress>
                    </div>
                </div>

                <div *ngFor="let f of filesToAdd">
                    <div *ngIf="f.type.startsWith('video/')">
                        <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                            (removed)="onRemove(f)">
                            <ngx-dropzone-label style="color: white;">{{ f.name }}</ngx-dropzone-label>

                        </ngx-dropzone-video-preview>
                        <progress max="100" [value]="uploadProgresses[f.name] || 0"
                            [style.width.%]="uploadProgresses[f.name] || 0"></progress>
                    </div>
                </div>

            </ngx-dropzone>



            <button type="button" (click)="this.editProjectService.setIsEditing(false)">Cancel</button>
            <button type="submit">Save</button>

        </form>
    </div>

    <div>
        <div *ngFor="let thumbnail of this.Thumbnails">
            <img [src]="'data:image/jpeg;base64,' + thumbnail.Data">
            <button (click)="DeleteUpload(thumbnail.UploadId)">Delete</button>
        </div>
    </div>

</div>