<div class="container-md py-3" *ngIf="Project$ | async as Project">

    <div *ngIf="!this.projectService.getIsEditing();">
        <div *ngIf="Project$ | async as Project">
            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2 align-items-center">
                    <a style="cursor: pointer;"
                        (click)="this.router.navigate(['/user', this.userService.CurrentUser.Username])">
                        <img class="profile-picture shadow" ngxGravatar [size]="32"
                            [email]="this.userService.CurrentUser?.Email ?? ''" [fallback]="'mp'"
                            [src]="this.userService.GetCurrentUserProfilePictureUrl()" />
                    </a>
                    <div class="d-flex align-items-center">
                        <h4 class="m-0">{{ Project.Name }}</h4>

                        <div class="ms-2 like-container">

                            <fa-icon (click)="onClickLike()" class="like-icon like-icon-active"
                                *ngIf="this.ProjectIsLiked" [icon]="solidHeartIcon"></fa-icon>
                            <fa-icon (click)="onClickLike()" class="like-icon" *ngIf="!this.ProjectIsLiked"
                                [icon]="regularHeartIcon"></fa-icon>

                            <!--<button [ngClass]="this.ProjectIsLiked[project.Id] ? 'heart-solid' : 'heart-line'"
                                (click)="onClickLike(project.Id)">{{ this.ProjectIsLiked[project.Id] ? 'Unlike' : 'Like' }}</button>-->

                            <span>{{ this.ProjectLikes }}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.userService.GetIsLoggedInObservable() | async">
                    <div
                        *ngIf="(this.userService.CurrentUser?.Username ?? false) === (this.userService.LoggedInUser?.Username ?? true);">
                        <button class="btn btn-sm btn-outline-secondary" (click)="Edit()"><fa-icon
                                [icon]="editIcon"></fa-icon> Edit</button>
                        <button class="ms-1 btn btn-sm btn-outline-danger" (click)="Delete()"><fa-icon
                                [icon]="deleteIcon"></fa-icon> Delete</button>
                    </div>
                </div>

            </div>

            <div class="date-created mt-2">
                {{ this.Project.DateCreated | date: 'dd.MM.yyyy.' }}
            </div>

            <pre class="mt-2">{{ Project.Concept }}</pre>

        </div>
    </div>

    <div *ngIf="this.projectService.getIsEditing();">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div>
                <label for="projectName">Name:</label>
                <input class="form-control" type="text" id="projectName" formControlName="projectName">

                <div *ngIf="projectName.invalid && (projectName.touched || this.formSubmitted)">
                    <p class="text-danger" *ngIf="projectName.errors?.['required']">Name is required</p>
                    <p class="text-danger" *ngIf="projectName.errors?.['minlength']">Name must be at least 3 characters
                        long</p>
                </div>
            </div>

            <div>
                <label for="projectConcept">Concept:</label>
                <textarea class="form-control" type="text" id="projectConcept" formControlName="projectConcept"
                    rows="10"></textarea>

                <!--<div *ngIf="projectConcept.invalid && projectConcept.touched">
                    <p *ngIf="projectConcept.errors?.['pattern']">Concept must contain only alphanumeric characters and
                        spaces</p>
                </div>-->
            </div>



            <ngx-dropzone class="my-3" (change)="onSelect($event)" [accept]="'image/*'">

                <ngx-dropzone-label>Drop your art here.</ngx-dropzone-label>

                <div *ngFor="let f of filesToAdd">
                    <div *ngIf="f.type.startsWith('image/')">
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                            (removed)="onRemove(f)">
                            <ngx-dropzone-label style="color: white;">{{ f.name }}</ngx-dropzone-label>

                        </ngx-dropzone-image-preview>
                        <progress max="100" [value]="uploadProgresses[f.name] || 0"
                            [style.width.%]="uploadProgresses[f.name] || 0"></progress>
                    </div>
                </div>

                <div *ngFor="let f of filesToAdd">
                    <div *ngIf="f.type.startsWith('video/')">
                        <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                            (removed)="onRemove(f)">
                            <ngx-dropzone-label style="color: white;">{{ f.name }}</ngx-dropzone-label>

                        </ngx-dropzone-video-preview>
                        <progress max="100" [value]="uploadProgresses[f.name] || 0"
                            [style.width.%]="uploadProgresses[f.name] || 0"></progress>
                    </div>
                </div>

            </ngx-dropzone>


            <button class="btn btn-outline-danger" (click)="CancelEditing()"><fa-icon [icon]="cancelIcon"></fa-icon>
                Cancel</button>
            <button class="ms-1 btn btn-outline-primary" type="submit" [disabled]="!this.form.valid"><fa-icon
                    [icon]="saveIcon"></fa-icon>
                Save</button>

        </form>
    </div>

    <!--<div style="margin: 20px;">
        <div style="display: inline; position: relative; margin: 2px;" *ngFor="let thumbnail of this.Thumbnails">
            <img [src]="'data:image/jpeg;base64,' + thumbnail.Data">
            <button style="position: absolute; right: 0;" (click)="DeleteUpload(thumbnail.UploadId)">Del</button>
        </div>
    </div> aaaaa-->

    <!--<div>
        <gallery fluid thumbPosition="bottom" gallerize [items]="images"></gallery>
    </div>-->

    <!--<div>
        <lightgallery [settings]="settings">
                ovo je za full sliku
                <a className="gallery-item" *ngFor="let thumbnail of this.Thumbnails" [attr.data-src]="'data:image/jpeg;base64,' + thumbnail.Data">
                    ovo je za thumbnail
                    <img className="img-responsive" [src]="'data:image/jpeg;base64,' + thumbnail.Data">
                </a>
        </lightgallery> 
    </div>-->

    <!--<div class="gallery m-3">
        <div class="gallery-img" *ngFor="let uploadId of this.Project.UploadIds; index as i">

            <img [lightbox]="i" [src]="this.uploadService.ThumbnailUrl + uploadId" [gallery]="'lightbox'">
            <button style="position: absolute; right: 0; top: 0;" (click)="DeleteUpload(uploadId)">Del</button>

        </div>
    </div>-->

    <div>
        <ngx-masonry class="my-3" [ordered]="true" [options]="masonryOptions" [updateLayout]="update">

            <div ngxMasonryItem *ngFor="let uploadId of this.Project.UploadIds; index as i;" class="masonry-item"
                [ngClass]="uploadId === this.Project.HighlightedUploadId && this.userService.GetIsLoggedIn() ? 'highlighted':'' ">

                <div class="masonry-item-image-container">
                    <img [src]="this.uploadService.ThumbnailUrl + uploadId" [lightbox]="i" [gallery]="'lightbox'">
                </div>

                <div style="position: absolute; right: 0; top: 0;">
                    <button class="btn btn-sm btn-primary" (click)="this.uploadService.Download(uploadId)"><fa-icon
                            [icon]="downloadIcon"></fa-icon></button>
                    <div *ngIf="this.userService.GetIsLoggedInObservable() | async">
                        <button
                            *ngIf="(this.userService.CurrentUser?.Username ?? false) === (this.userService.LoggedInUser?.Username ?? true);"
                            ngbTooltip="Highlight image" placement="top"
                            [ngClass]="this.Project.HighlightedUploadId === uploadId ? 'highlighted-button': ''"
                            class="ms-1 btn btn-sm btn-secondary" (click)="HighlightUpload(uploadId)"><fa-icon
                                [icon]="highlightIcon"></fa-icon></button>
                    </div>
                    <div *ngIf="this.userService.GetIsLoggedInObservable() | async">
                        <button *ngIf="(this.userService.CurrentUser?.Username ?? false) === (this.userService.LoggedInUser?.Username ?? true);"
                            class="ms-1 me-2 btn btn-sm btn-danger" (click)="DeleteUpload(uploadId)"><fa-icon
                                [icon]="deleteIcon"></fa-icon></button>
                    </div>
                </div>
            </div>

        </ngx-masonry>
    </div>

    <!--<div style="margin: 20px;" gallerize>
            <img *ngFor="let uploadId of this.Project.UploadIds" [src]="this.uploadService.ThumbnailUrl + uploadId"
                 [attr.imageSrc]="this.uploadService.UploadUrl + uploadId"
                 [attr.thumbSrc]="this.uploadService.ThumbnailUrl + uploadId" />
    </div>-->

    <!--<button style="position: fixed; top: 0; left: 0; z-index: 100000;" (click)="test2()">AAA</button>-->

    <ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
        <ng-container *ngIf="type === 'imageViewer' && index === currIndex">
            <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
        </ng-container>
    </ng-template>


</div>