<div class="container-md py-3" *ngIf="Project$ | async as Project">

    <div *ngIf="!this.projectService.getIsEditing();">
        <div *ngIf="Project$ | async as Project">
            <div class="d-flex justify-content-between">
                <h1>{{ Project.Name }}</h1>
                <div>
                    <button (click)="Edit()">Edit</button>
                    <button class="ms-1" (click)="Delete()">Delete</button>
                </div>
                
            </div>
            
            <pre>{{ Project.Concept }}</pre>
            
        </div>
    </div>

    <div *ngIf="this.projectService.getIsEditing();">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div>
                <label for="projectName">Name:</label>
                <input class="form-control" type="text" id="projectName" formControlName="projectName">

                <div *ngIf="projectName.invalid && projectName.touched">
                    <p *ngIf="projectName.errors?.['required']">Name is required</p>
                    <p *ngIf="projectName.errors?.['minlength']">Name must be at least 3 characters long</p>
                </div>
            </div>

            <div>
                <label for="projectConcept">Concept:</label>
                <textarea class="form-control" type="text" id="projectConcept" formControlName="projectConcept" rows="10"></textarea>

                <div *ngIf="projectConcept.invalid && projectConcept.touched">
                    <p *ngIf="projectConcept.errors?.['pattern']">Concept must contain only alphanumeric characters and
                        spaces</p>
                </div>
            </div>



            <ngx-dropzone class="my-3" (change)="onSelect($event)">

                <ngx-dropzone-label>Drop your art here.</ngx-dropzone-label>

                <div *ngFor="let f of filesToAdd">
                    <div *ngIf="f.type.startsWith('image/')">
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                            (removed)="onRemove(f)">
                            <ngx-dropzone-label style="color: white;">{{ f.name }}</ngx-dropzone-label>

                        </ngx-dropzone-image-preview>
                        <progress max="100" [value]="uploadProgresses[f.name] || 0"
                            [style.width.%]="uploadProgresses[f.name] || 0"></progress>
                    </div>
                </div>

                <div *ngFor="let f of filesToAdd">
                    <div *ngIf="f.type.startsWith('video/')">
                        <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                            (removed)="onRemove(f)">
                            <ngx-dropzone-label style="color: white;">{{ f.name }}</ngx-dropzone-label>

                        </ngx-dropzone-video-preview>
                        <progress max="100" [value]="uploadProgresses[f.name] || 0"
                            [style.width.%]="uploadProgresses[f.name] || 0"></progress>
                    </div>
                </div>

            </ngx-dropzone>


            <button (click)="CancelEditing()">Cancel</button>
            <button type="submit">Save</button>

        </form>
    </div>

    <!--<div style="margin: 20px;">
        <div style="display: inline; position: relative; margin: 2px;" *ngFor="let thumbnail of this.Thumbnails">
            <img [src]="'data:image/jpeg;base64,' + thumbnail.Data">
            <button style="position: absolute; right: 0;" (click)="DeleteUpload(thumbnail.UploadId)">Del</button>
        </div>
    </div> aaaaa-->

    <!--<div>
        <gallery fluid thumbPosition="bottom" gallerize [items]="images"></gallery>
    </div>-->

    <!--<div>
        <lightgallery [settings]="settings">
                ovo je za full sliku
                <a className="gallery-item" *ngFor="let thumbnail of this.Thumbnails" [attr.data-src]="'data:image/jpeg;base64,' + thumbnail.Data">
                    ovo je za thumbnail
                    <img className="img-responsive" [src]="'data:image/jpeg;base64,' + thumbnail.Data">
                </a>
        </lightgallery> 
    </div>-->

    <!--<div class="gallery m-3">
        <div class="gallery-img" *ngFor="let uploadId of this.Project.UploadIds; index as i">

            <img [lightbox]="i" [src]="this.uploadService.ThumbnailUrl + uploadId" [gallery]="'lightbox'">
            <button style="position: absolute; right: 0; top: 0;" (click)="DeleteUpload(uploadId)">Del</button>

        </div>
    </div>-->

    <div>
        <ngx-masonry class="my-3" [ordered]="true" [options]="masonryOptions" [updateLayout]="update">

            <div ngxMasonryItem *ngFor="let uploadId of this.Project.UploadIds; index as i;" class="masonry-item" [ngClass]="uploadId === this.Project.HighlightedUploadId ? 'highlighted':'' ">
                <img [src]="this.uploadService.ThumbnailUrl + uploadId" [lightbox]="i" [gallery]="'lightbox'">
                <div style="position: absolute; right: 0; top: 0;">
                    <button (click)="HighlightUpload(uploadId)">H</button>
                    <button (click)="DeleteUpload(uploadId)">Del</button>
                </div>
            </div>

        </ngx-masonry>
    </div>

    <!--<div style="margin: 20px;" gallerize>
            <img *ngFor="let uploadId of this.Project.UploadIds" [src]="this.uploadService.ThumbnailUrl + uploadId"
                 [attr.imageSrc]="this.uploadService.UploadUrl + uploadId"
                 [attr.thumbSrc]="this.uploadService.ThumbnailUrl + uploadId" />
    </div>-->

    <!--<button style="position: fixed; top: 0; left: 0; z-index: 100000;" (click)="test2()">AAA</button>-->

    <ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
        <ng-container *ngIf="type === 'imageViewer' && index === currIndex">
            <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
        </ng-container>
    </ng-template>


</div>